<!DOCTYPE html>

<html>
<head>
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/LudoStyle.css" rel="stylesheet" />
</head>
<body>
<div class="container body-content">
    @RenderBody()
</div>
</body>
</html>
