@model GameModel
@{
    ViewData["Title"] = "CreateGame";
    Layout = "_Layout";
}

<h2>Title</h2>

<form action="PostGame", method="post">
    Player Name: <input name="playerName" value="" /> <br>
    Game Name: <input name="GameName" value=""> <br>
        <input type="submit" value="Submit">
</form>

<script>

</script>
